extends ../layout/admin_layout

block content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          h1.page-header
            | Dashboard 
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Dashboard
      .row
        .col-lg-12
