extends ../admin_layout

block content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          h1.page-header
            | Dashboard 
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Dashboard
      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading
              h3.panel-title
                i.fa.fa-long-arrow-right.fa-fw
                |  Donut Chart
            .panel-body
              #morris-donut-chart
              .text-right
                a(href='#')
                  | View Details 
                  i.fa.fa-arrow-circle-right
