extends ../layout/admin_layout

block content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          h1.page-header
            | Sign Up
          ol.breadcrumb
            li.active
              i.fa.fa-user
              |  Instructors / Sign Up
      .row
        .col-lg-12
          .panel.panel-default
            .panel-body
              if message_auth
                div.warning-message=message_auth
              form(name="signup-form", method="post" action='/instructors/signup')
                div.form-group
                  label Full Name
                  input(type="text", name="fullname").form-control
                div.form-group
                  label Email
                  input(type="email", name="email").form-control
                div.form-group
                  label Instructor ID
                  input(type="text", name="identity").form-control
                div.form-group
                  label Username
                  input(type="text", name="username").form-control
                div.form-group
                  label Password
                  input(type="password", name="password").form-control
                div.form-group
                  label Confirm Password
                  input(type="password", name="confirm_password").form-control
                  input(type="hidden", name='entranced_year' id="entranced_year")
                div.form-group
                  button(type="submit").btn.btn-info Signup

      script(type='text/javascript').
        today = new Date();
        year = today.getFullYear();   
        $('#entranced_year').val(year);
