extends ../layout

block content
	div.container.radius
		h1.page-title Reset Password
		br
		if message_auth
			div.warning-message=message_auth
		form(name="reset-password-form", method="post" action='/reset_password')
			div.form-group
				
				input(type="password", name="password", placeholder="Password").form-control
			div.form-group
				
				input(type="password", name="password_confirm", placeholder="Confirm Password").form-control
			
			div.form-group
				button(type="submit").btn.btn-default.updatebutton Update
