body {
			font-family:Arial;
			font-size:12pt;
			background: #F9F9F9;
			
		}
		#main{
			width: 900px;
			margin: 0 auto;
			overflow: hidden;
			background: #fff;
			padding: 20px;
		}
		h1 { 
			font-size:16pt;
			text-align: center;
		}
		h2 { 
			font-size:13pt; 
		}
		ul { 
			margin:0px; 
			padding:0px; 
			margin-left:20px; 
		}
		.y-placeHolder, #course-list { 
			width:45%; 
			list-style-type:none; 
			margin:0px; 
			
			
		}
		.y-placeHolder li ,#course-list li {
			float:left;
			padding:5px;
			width:100%;

			
		}
		.y-placeHolder div, #course-list div { 
			width:100%; 
			padding: 10px 0px;
			border:solid 
			1px 
			black; 
			background-color:#E0E0E0; 
			text-align:center; 
			
		}
		#course-list { 
			float:right; 
		}
		.placeHolder div { 
			background-color:white !important; 
			border:dashed 1px gray !important; 
		}