extends ../layout/client-layout
block script
  
block content
  nav#main-nav.navbar(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-manu')
          span.sr-only Toggle navigation
        a.navbar-brand(href='/') SIT
      #main-manu.collapse.navbar-collapse.navbar-right
        ul.nav.navbar-nav
          li.active
            a(href='logout') Logout
    // /navbar
    // Main contain
  .container(ng-controller="dndController")
    
    #userinfo
      input(type="text",name="id",value="#{_id}",style="display:none")
      
    .row
      .col-md-12
        h2.text-center.title
          span
            | {{plandata.fullname}}
    .row
      .col-md-8
        #dnd.block.radius
          .row(ng-repeat='row in plandata.plan', ng-class="{'nodrop': row.index <= dragitem}")
            
            .title
              | {{'Year ' + row.year + ' Semester ' + row.semester}} 
            ul(dnd-list='row.course',dnd-allowed-types="34",dnd-disable-if="false")
              .dnd-row
                div.coursebox(ng-repeat='item in row.course', dnd-moved='row.course.splice($index, 1) ',dnd-dragend='dragend()' ,dnd-dragstart='dragoverCallback(item,event)' , dnd-effect-allowed='move', dnd-disable-if='row.year < year || (row.year == year && row.semester <= semester)', dnd-draggable='item', ng-class="{'disable': row.year < year || (row.year <= year && row.semester <= semester),'enable': 1==1,'elective':(item.type == 'elective' && !(row.year < year || (row.year <= year && row.semester <= semester))) }")
                  li.radius
                    span {{item.course_id +" "+item.course_name}}
                  li.radius(ng-show="item.type == 'elective' && !(row.year < year || (row.year <= year && row.semester <= semester))")
                    a(type='button', data-toggle='modal', data-target='#myModal' ng-click='testfun($parent.$index,$index)' )
                      | แก้ไข
      .col-md-4
        .block.radius
          button.btn.btn-success.btn-block.btn-lg(ng-click="save()" name="save")
            h4 Save
        .block.radius
          h4.text-center {{plandata.status}}
        .block.radius
          h3.underline
            span Message
          p
            | พูดบางอย่างถึงอาจารย์เกี่ยวกับแผนการเรียนของคุณ
          form
            input(type="text",name="message" ,placeholder="ข้อความ")
            button.btn.btn-primary(ng-click="message()", type="submit") ส่ง
          div.message
            .row(ng-repeat="row in plandata.message")
              div(ng-class="{'mind-message': row.id == plandata._id}") {{row.text}}
            
    .row
      .col-md-12
        .block.radius
          pre.code.
            {{dragitem}}  
            {{modelAsJson}}   

        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title ลงทะเบียน
              .modal-body
                .alert-message(style="display:none") โปรดเลือกวิชาที่ต้องการลองทะเบียน
                ul(ng-repeat='item in courselist')
                  label
                    input(type='radio', name='elective', value='{{item}}')
                    |     {{item.course_id + " " + item.course_name}}
                  
              .modal-footer
                
                button.btn.btn-primary(type='button', ng-click="register()") Register
