doctype html
html
  head
    title DragSort Example
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/course.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap-3.3.5-dist/css/bootstrap.min.css')  
  body
    include scripts
    block content
