extends app-layout
block content
    nav.mainnavigator
      .btn-group.btn-group-justified(role='group', aria-label='test')
            .btn-group(role='group')
              a(href="/")
                button.btn.btn-default(type='button') Home
            .btn-group(role='group')
              button.btn.btn-default(type='button') Middle
            .btn-group(role='group')
              a(href="/logout")
                button.btn.btn-default.logout(type='button') Logout
    #course-manage.radius10
      div(style="width:100%;overflow:hidden")
        button.btn.btn-success.pull-right(type='button', aria-label='Left Align',onclick="post_Data()") Save
        
      .course-list
        h2 Course list
        ul#list2.years(data-year="10")
          each item in plan
            li.course(data-rec-y=item.recommended_year)(data-couse-id=item.course_id)
              div(data-couse-id=item.course_id)=item.course_name+" ("+item.course_id+")"
        
    button(type='button', name='button', onclick='post_Data()') Save
    // save sort order here which can be retrieved on server on postback
    input(name='list1SortOrder', type='hidden')
    script(type='text/javascript').
      function saveOrder(){}
    div(style='clear:both;')
