extends layout

block content
	div.container.radius
		h1.page-title 
			b  #{user.username} plan
		ul
			each data in datas
				li
					a(href="plan/"+data._id) #{data.plan_name} 
					span - #{data.status}
