.fa {
  margin-right: 0.5em;
}

.course-edit {
  padding-top: 0.6em !important;
}

.course-delete {
  padding-top: 0.6em !important;
}

table.table tr td {
  padding-bottom: 0.3em;
}

td.list-data {
  padding-top: 1em !important;
}

.btn {
  font-size: 14px !important;
}

.navbar-brand {
  font-size: 1.5em !important;
}

.import-btn {
  margin-right: 0.5em;
}

.search-group {
  width: 20%;
  float: left;
  margin-right: 1em;
}

.search-button-group {
  margin-top: 2.5em;  
}
