extends ../admin_layout

block content
  #page-wrapper
    div.container.radius
      ul
        each data in datas
          li
            a(href="plan/"+data._id) #{data.plan_name} 
            span - #{data.status}
            a(href="plan/edit/"+data.id).btn.btn-info Edit
