extends ../layout/admin_layout

block content
	#page-wrapper
		.container-fluid
			.row
				.col-lg-12
					.row
						.col-lg-8
							h1.page-header
								| Plan
						.col-lg-2
						h1.page-header
							a(href='defaultplan/create').btn.btn-success.btn-lg Create New Default Plan
					ol.breadcrumb
						li.active
							i.fa.fa-dashboard
							|  Plan
			.row
				.col-lg-12
					.panel.panel-default
						.panel-body
							table.table
								thead
									th Plan Name
									th Department
									th 
								tbody
								
								each data in datas
									tr
										td=data.plan_name
										td=data.department
										td
											a(href="defaultplan/"+data._id).btn.btn-success View
										td
											form(name="delete-form", method="post" action='api/plan/delete/' + data._id)
												input(type="hidden" name="_method" value="delete")
												button(type='submit' onclick="return confirm('Are you sure?');").btn.btn-danger Delete
