extends ../layout/admin_layout

block content
  #page-wrapper
    .container-fluid
      .row
        .col-lg-12
          h1.page-header
            | Edit Plan #{data.student_id}
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Plan / Edit
      .row
        .col-lg-12
          .panel.panel-default
            .panel-body
              form(name="edit-plan", method="post" action='/plan/edit/#{data._id}')
                input(type="hidden" name="_method" value="put")
                div.form-group
                  label Status
                  select(name="status").form-control
                    option(value="pending") Pending
                    option(value="approve") Approve
                    option(value="reject") Reject
                div.form-group
                  label Message
                  textarea(name="message").form-control #{data.message}
                div.form-group
                  button(type="submit").btn.btn-default submit
    script.
      $('select[name="status"] option').each(function(){
        if ($(this).val() == '#{data.status}'){
          $(this).attr('selected', 'selected');
        } 
      });
