body {
  font-family:Arial;
  font-size:12pt;
  padding:20px;
  width:820px;
  margin:20px auto;
  border:1px solid black;
}

h1 {
  font-size:16pt;
}

h2 {
  font-size:13pt;
}

ul {
  margin:0px;
  padding:0px;
}

.years, #list1, #listadisak, #list2 {
  width: 400px;
  list-style-type: none;
  margin:0px;
  overflow: hidden;
}

.years li, #list1 li, #list2 li, #listadisak li {
  padding: 5px;
  line-height: 50px;
}

.years div,#list1 div, #list2 div, #listadisak div {
  border:solid 1px black;
  background-color: #E0E0E0;
  text-align:center;
}

.course-list{
  float: right;
}
#course-manage > div h2 {
  text-align: center;
}
#course-manage > div {
  width: 400px
}
.canDrop .placeHolder{
  background: green;
}
.cantCanDrop .placeHolder{
  background: red;
}
