body {
  font-family:Arial;
  font-size:12pt;
  background-color: #EEE !important;

}

h1 {
  font-size:16pt;
}

h2 {
  font-size:13pt;
}

ul {
  margin:0px;
  padding:0px;
}

.years, #list1, #listadisak, #list2 {

  list-style-type: none;
  margin:0px;
  overflow: hidden;
}

.years li, #list1 li, #list2 li, #listadisak li {
  padding: 5px;
  line-height: 50px;
}

.years div,#list1 div, #list2 div, #listadisak div {
  border:solid 1px black;
  color: #555;
  background-color: #E0E0E0;
  text-align:center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
  font-size: 1.2em;
  font-weight: bold;
}

.course-list{
  float: right;
}
#course-manage{
  width: 900px;
  margin: 0 auto;
  background: #FFF;
  padding: 20px;
  margin-top: 30px;
}
#course-manage > div h2 {
  text-align: center;
}
#course-manage > div {
  width: 400px
}
.placeHolder{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 1.2em;
}
.canDrop .placeHolder{
  background: green;
}
.cantCanDrop .placeHolder{
  background: #DC4B3E;
}

.plan_name{
  margin-bottom: 30px;
}
.yearname{
  margin-top: -36px;
  color: #FFF;

  text-align: center;
  border:1px solid #FFF;
  background-color: #3a5795;
  font-size: 1.5em;
  font-weight: bold;
}
.semester{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  border:1px solid #ddd;
  background: #eee;
}
.semester .title{
  text-align: center;
  font-weight: bold;

  padding-bottom: 0px;
  margin-bottom: 0px;

}
