<!DOCTYPE html>
<html lang="" ng-app="demo">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="css/vendor/bootstrap.min.css">
	<link rel="stylesheet" href="css/flat-ui.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/vendor/jquery.min.js" charset="utf-8"></script>
	<script src="js/flat-ui.min.js" charset="utf-8"></script>
	<script src="bower_components/angular/angular.js" charset="utf-8"></script>
	<script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js" charset="utf-8"></script>

	<script src="js/dnd.js" charset="utf-8"></script>

	<title>Dekbangmod- เพิ่มเมนูอาหาร</title>
</head>
<body ng-controller="SimpleDemoController" id="Homepage">
<nav class="navbar" id="main-nav" role="navigation">
 	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-manu">
			  <span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="/">SIT</a>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="main-manu">
			<ul class="nav navbar-nav">
			 	<li class="active"><a href="#fakelink">Home</a></li>
				<li><a href="#fakelink">Forum</a></li>
				<li><a href="#fakelink">Contact</a></li>


			</ul>
		</div>
	</div>
</nav><!-- /navbar -->

<!--Main contain	-->
<div class="container">
	<div class="row" >
		<div class="col-md-12">
			<h2 class="text-center title"><span>{{models.plan_name}}</span}</h2>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-8">
			<div id="dnd" class="block radius">

				<div class="row" ng-repeat="row in models.course_list">
					<div class="title">
						{{'Year ' + row.year + ' Semester ' + row.semester}}
					</div>
					<ul>
						<div class="dnd-row" dnd-list="row.course">
							<li ng-click="alertData(row.year)" class="radius" ng-repeat="item in row.course"
							dnd-moved="row.course.splice($index, 1)"
							dnd-effect-allowed="move"
							dnd-disable-if="row.year <= 1 && row.semester < 2"
							dnd-draggable="item"  dnd-effect-allowed="move"
							ng-class="{'disable': row.year <= 1 && row.semester < 2,'enable': 1==1}">
								<span>{{item.course_id +" "+item.name}}</span>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="block radius">
				<h3 class="underline"><span>Message</span></h3>
				<p>
					พูดบางอย่างถึงอาจารย์เกี่ยวกับแผนการเรียนของคุณ
				</p>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="block radius">
				<pre class="code">{{modelAsJson}}</pre>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="text-center">	© 2015 - 2015 Sit.ac.th — bangmod, education Sit It Cs and KMUTT.
All rights & reserved. sit@kmutt.ac.t.</div>

	</div>
</footer>
</body>
</html>
