doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title SIT Course Management | Admin
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Loading Bootstrap
    link(href='/css/vendor/bootstrap.min.css', rel='stylesheet')
    // Loading Flat UI
    link(href='/css/flat-ui.min.css', rel='stylesheet')
    
    link(rel='stylesheet', href='/css/sb-admin.css')
    
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css' type="text/css")
    
    link(rel="stylesheet", href="/css/admin.css")
    
    link(rel="stylesheet", href='/css/dnd.css')
    link(rel="stylesheet", href="/datepicker/css/bootstrap-datepicker.min.css")
    // HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
    //if lt IE 9
    script(src='/js/vendor/html5shiv.js')
    script(src='/js/vendor/respond.min.js')
    
    // jQuery (necessary for Flat UI's JavaScript plugins)
    script(src='/js/vendor/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/main.js')
    script(src='/datepicker/js/bootstrap-datepicker.min.js')
    script(src='/js/vendor/angular.min.js')
    script(src='/js/vendor/angular-drag-and-drop-lists.min.js')
    script(src='/js/dnd.js')
  body
  html
body(ng-app="app")
  #wrapper
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        if is_admin == 1
          a.navbar-brand(href='/')
            | Admin
        if is_instructor == 1
          a.navbar-brand(href='/')
            | Instructor
      // Top Menu Items
      ul.nav.navbar-right.top-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-user
            |  #{username}
            b.caret
          ul.dropdown-menu
            li
              a(href='/logout')
                i.fa.fa-fw.fa-power-off
                |  Log Out
      // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.side-nav
          if is_admin == 1
            li
              a(href='/')
                i.fa.fa-fw.fa-dashboard
                |  Statistics
            li
              a(href='javascript:;', data-toggle='collapse', data-target='#user')
                i.fa.fa-fw.fa-user
                | User
                i.fa.fa-fw.fa-caret-down
              ul#user.collapse
                li
                  a(href='/students') Student
                li
                  a(href='/instructors') Instructor
            li
              a(href='/course')
                i.fa.fa-fw.fa-file
                |  Course
            li
              a(href='/department')
                i.fa.fa-fw.fa-location-arrow
                |  Department
            li
              a(href='/plan')
                i.fa.fa-fw.fa-folder-open
                |  Plan
            li
              a(href='/years')
                i.fa.fa-fw.fa-calendar
                |  Years
          if is_instructor == 1
            li
              a(href='/instructors/approve_plan')
                i.fa.fa-fw.fa-calendar
                |  Approve
              
    block content
    #studentModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="studentLabel")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &#215;
            h4#studentLabel.modal-title Import CSV
          .modal-body
            form(action="/students/csv", method="post", enctype="multipart/form-data")
              input(type="file" name="csv")
              .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Close
                button.btn.btn-primary(type="submit") Submit
    #instructorModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="instructorLabel")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &#215;
            h4#instructorLabel.modal-title Import CSV
          .modal-body
            form(action="/instructors/csv", method="post", enctype="multipart/form-data")
              input(type="file" name="csv")
              .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Close
                button.btn.btn-primary(type="submit") Submit
    
    // Include all compiled plugins (below), or include individual files as needed
    // script(src='/js/flat-ui.min.js')
