<!DOCTYPE html>
<html ng-app="drag-and-drop" ng-init="adisak = 1">  
  <head lang="en">
    <meta charset="utf-8">
    <title>Drag &amp; Drop: Multiple lists</title>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/jquery-ui/jquery-ui.min.js"></script> 
    <script src="components/angular/angular.min.js"></script>
    <script src="src/angular-dragdrop.js"></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css"/>
    <style>
      .thumbnail { height: 280px !important; }
      .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
      .btn-draggable { width: 160px; }
    </style>

    <script type="text/javascript">
      var App = angular.module('drag-and-drop', ['ngDragDrop']);

      App.controller('oneCtrl', function($scope, $http) {
        $scope.plan_list = {};
		$scope.course_list = {};
		$scope.data = {};
		var test = 0;
		$scope.adisak = function(a,d,data,adisak){console.log(d);};
		$scope.kmutt = function(test,dd,data){
			test++;
			console.log($(data));
			console.log($(this));
		};  
      	
        $http.get("http://localhost:3000/api/plan/55ca0522be1b55901d300dd1")
    	.success(function(response) {
			$scope.data = response;
			$scope.course_list = response.plan_course;  
			console.log(response);
		});
   

    
      });
    </script>
  </head>  
  <body>
	  <span data-drag="true" jqyoui-draggable>So you think you can drag</span>
    <div class="container" ng-controller="oneCtrl">
		<div class="row">
			<h2>{{data.plan_name}}</h2>
			<span>{{course_list}}</span>
			<div class="col-md-8" id="plan_list">
				<div class="course_years" ng-repeat="item_y in course_list" ng-model="data_json">
					<h3>Years {{item_y.years}}</h3>

					<div class="semester" ng-repeat="item_s in item_y.years_course" data-drop="true">
						<span class="title">semester {{item_s.semester}}</span>
						<div ng-repeat="item_c in item_s.course_list" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-click="adisak(data_json)" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" >
							{{item_c.course_code}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" id="course_list">
				<div  data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable >adisak
			</div>
		</div>
	
  
		
	</div>
    

  </body>
</html>